h1{
    display: flex;
    justify-content: center;
    text-align: center;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 6px solid rgb(96 139 168);
}
box{
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid rgb(188, 19, 41);
}